name: continuous-delivery

permissions:
  contents: read

on:
  push:
    branches:
      - main

concurrency:
  group: continuous-delivery
  cancel-in-progress: true

jobs:
  build:
    name: Run tests
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd
        with:
          ruby-version: 3.4.4
      - run: gem install bundler --no-document
      - run: bundle
      - run: rake native gem
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        run: gem build
      - uses: actions/upload-artifact@v6
        with:
          name: gem-${{ matrix.os }}
          path: |
            *.gem
            pkg/*.gem
