name: continuous-delivery

permissions:
  contents: read

on:
  push:
    branches:
      - main

concurrency:
  group: continuous-delivery
  cancel-in-progress: true

jobs:
  build:
    name: Run tests
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c
        with:
          ruby-version: 3.4.4
      - run: gem install bundler --no-document
      - run: bundle
      - run: rake native gem
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        run: gem build
      - uses: actions/upload-artifact@v5
        with:
          name: gem-${{ matrix.os }}
          path: |
            *.gem
            pkg/*.gem
